	<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" href="/static/admin/css/layout.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/ueditor/themes/default/css/ueditor.css" type="text/css" media="screen" />

	<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js" ></script>
	<script type="text/javascript" src="/static/admin/js/jquery.tablesorter.min.js" ></script>
	<script type="text/javascript" src="/static/admin/js/hideshow.js" ></script>
	<script type="text/javascript" src="/static/admin/js/showBox.js" ></script>
	<script type="text/javascript" src="/static/admin/js/jquery.equalHeight.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
	<style type="text/css">
		 .service-wrap{
		 	padding:20px;
		 	margin-left: 301px;
		 }
		 	.group-item{
		 	    width: 100%;
    padding-bottom: 15px;
    color: #3a3a3a;
    text-indent: 0px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
		}
		.group-item select{
			padding: 5px;
    		color: #3a3a3a;
		}
		.group-item label{
			    display: inline-block;
			padding-right:5px;
			    vertical-align: text-bottom;
		}
	
		.group-item .editor{
			display: inline-block;
			vertical-align: top;
		}
		.submit{
			padding:6px 12px;
			margin-left: 58px;
			border-radius:3px;
			background: gray;
			color:#fff;
			cursor: pointer;
		}
		.service-options{
			position: relative;
			    display: inline-block;
			    vertical-align: middle;
		}
		.service-options h5{
			
         display: inline-block;
    width: 120px;
    vertical-align: top;
    border: 1px solid #ababab;
    padding: 4px 25px 4px 10px;
    color: #666;
    font-weight: normal;
    cursor: pointer;
		}
		.service-options:hover{
			background: #f2f2f2;
		}
		.service-options ul{
			display: none;
			    position: absolute;
    width: 100%;
         top: 29px;
    left: 0;
        padding: 5px;
    background: #fff;
    border: 1px solid #ababab;
        z-index: 99999;
		}
		.service-options ul li{
			padding: 3px 0;
		}
		.service-options:after {
    content: '';
    position: absolute;
      right: 0;
    top: 10px;
    width: 14px;
    height: 14px;
    background: url(/images/lan.gif) no-repeat;
}
	 </style>
</head>
<body>
<input id="edit-type" type="hidden" name="type" value=<%=type%> />
<%include left.ejs%>
<section class="column">
<div class="service-wrap">
<form id="formService">
	<div class="group-item">
		<label>服务类型:</label>
		<div id="service-options" class="service-options" data-type=<%=type%>>
			<h5><%=type==1?'服务支持':type==2?'服务保障':'服务流程'%></h5>
			<ul>
				<li><a href="/service/setservice/1">服务支持</a></li>
				<li><a href="/service/setservice/2">服务保障</a></li>
				<li><a href="/service/setservice/3">服务流程</a></li>
			</ul>
		</div>
	</div>
	<div class="group-item">
		<label style="padding-bottom: 10px">服务内容-中文:</label>
		<script type="text/plain" id="editor-zh"><%-content!==''?content.content_en:''%></script>
	</div>
	<div class="group-item">
		<label style="padding-bottom: 10px">服务内容-英文:</label>
		<script type="text/plain" id="editor-en"><%-content!==''?content.content_en:''%></script>
	</div>
	<p>
		<span id="submit" class="submit">提交</span>
	</p>
</form>
</div>
</section>
<script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="/js/global/common.js"></script>
<script type="text/javascript">
$('#service-options h5').bind('click',function(){
	$(this).next().toggle();
});
document.body.onclick=function(e){
	if(!$(e.target).closest('#service-options')[0]){
$('#service-options ul').hide();
	}
};
var editorZH=UE.getEditor("editor-zh", {
              "initialFrameHeight": 500,
              "initialFrameWidth": 949
           });
var editorEN=UE.getEditor("editor-en", {
              "initialFrameHeight": 500,
              "initialFrameWidth": 949
           });

$('#submit').click(function(){
	var content_zh=editorZH.getContent();
	var content_en=editorEN.getContent();
	var formdata=new FormData();
	formdata.append('type',$('#service-options').data('type'));
	formdata.append('content_zh',content_zh);
	formdata.append('content_en',content_en);
	$.ajax({
		url:'/service/add_service',
		type:'post',
		dataType:'json',
		data:formdata,
		 processData: false,  
        contentType: false, 
		success:function(result){
			if(result.responseCode==='000000'){
				Common.msg.success('上传成功');
			}else{
				Common.msg.error(result.responseMsg);
			}
		},
		error:function(xhr,statustext){
			alert(statustext);
		}
	});
});
</script>
</body>
</html>