<!DOCTYPE html>
<html>

<head>
    <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/case.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="bread">
            <p class="zp-wrap"><%=__('CurrentLocation')%>：<a href="/"><%=__('Home')%></a>&gt;<a href="/case"><%= __('Solution') %></a></p>
        </div>
        <div class="zp-wrap" style=" margin-bottom: 20px;">
            <div class="products-list">
                <div class="products-center-item">
                     <% list.forEach(function(cases){%>
				     <a href="/caseDetail/<%=cases.code%>.html">
                        <div class="products-icon">
                            <img src="/images/case.jpg" title="<%=cases.name%>" alt="<%=cases.name%>">
                        </div>
                        <p class="products-desc"><%=cases.name%></p>
                    </a>
				    <%})%>
                </div>
            </div>
            	 <nav class="nav">
					<ul class="pagination paginationA paginationA01" id="pagination">
						<%- locals %>
					</ul>
				</nav>
        </div>
        <%include ../public/footer.ejs%>
            
</body>

</html>
