<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/details.css' />
</head>

<body>
   <%include ../public/header.ejs%>
        <div class="zp-wrap">
            <div class="details-wrap">
                <div class="details-head">
                    <a href="#" title="<%=pro.nameCh%>" alt="<%=pro.nameCh%>"><img class="products-icon" src="<%=pro.imgUrl%>"></a>
                     <h1 class="products-desc"><%=pro.nameCh%></h1>
                    <p>日期：<%=pro.createdBy%> 作者：<%=pro.createdDate%></p>
                </div>
                <div class="details-content">
                    <div id="details-content-nav" class="details-content-nav">
                        <span class="details-cur" data-id='details-products-intro'>产品介绍</span>
                        <span data-id='details-related-products'>相关产品</span>
                        <span data-id='details-industryapplication'>行业应用</span>
                    </div>
                    <div id="details-content-body" class="details-content-body">
                        <%-pro.description%>
                        </div>
                        <div id="details-related-products" class="details-func" style="display: none">
                            <div class="products-list">
                                <div class="products-center-item">
                                    <a href="/details" title="阿特拉斯压缩机油分1622 3140 00" alt="阿特拉斯压缩机油分1622 3140 00"><img class="products-icon" src="/images/test/t1.jpg"></a>
                                    <p class="products-desc">多米尼克Domnick Hunter精密过滤器AO001</p>
                                </div>
                                <div class="products-center-item">
                                    <a href="/details" title="阿特拉斯压缩机油分1622 3140 00" alt="阿特拉斯压缩机油分1622 3140 00"><img class="products-icon" src="/images/test/t2.jpg"></a>
                                    <p class="products-desc">多米尼克Domnick Hunter精密过滤器AO001</p>
                                </div>
                                <div class="products-center-item">
                                    <a href="/details" title="阿特拉斯压缩机油分1622 3140 00" alt="阿特拉斯压缩机油分1622 3140 00"><img class="products-icon" src="/images/test/t3.jpg"></a>
                                    <p class="products-desc">阿特拉斯压缩机油分1622 3140 00</p>
                                </div>
                                <div class="products-center-item">
                                    <a href="/details" title="阿特拉斯压缩机油分1622 3140 00" alt="阿特拉斯压缩机油分1622 3140 00"><img class="products-icon" src="/images/test/t1.jpg"></a>
                                    <p class="products-desc">阿特拉斯压缩机油分1622 3140 00</p>
                                </div>
                                <div class="products-center-item">
                                    <a href="/details" title="阿特拉斯压缩机油分1622 3140 00" alt="阿特拉斯压缩机油分1622 3140 00"><img class="products-icon" src="/images/test/t3.jpg"></a>
                                    <p class="products-desc">阿特拉斯压缩机油分1622 3140 00</p>
                                </div>
                            </div>
                        </div>
                        <div id="details-industryapplication" class="details-func" style="display: none">
                            <%include ../public/industryapplication.ejs%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <%include ../public/footer.ejs%>
            <script type="text/javascript">
            $(function() {
      		  var conntent ="" + "<%=pro.description%>";
      		  conntent= conntent.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&amp;/g, "&").replace(/&quot;/g, '"').replace(/&apos;/g, "'");
      		  conntent = conntent.replace(new RegExp("&lt;","g"),"<").replace(new RegExp("&gt;","g"), ">").replace(new RegExp("\"","g"), "'").replace(new RegExp("&#34;","g"),"'");
      		  $("#details-content-body").html(conntent);
      	});
            $('#details-content-body').on('click', '.details-func', function() {


            });
            $('#details-content-nav span').bind('click', function() {
                $('#details-content-nav span').removeClass('details-cur');
                $(this).addClass('details-cur');

                $('#details-content-body .details-func').hide();
                var pid = $(this).data('id');
                $('#' + pid).show();
            });
            $('ul#products-primary-nav li').bind('click', function() {
                $('ul#products-primary-nav li').removeClass('cur');
                $(this).addClass('cur');
                $('.products-types').hide();
                var dataId = $(this).data('id');
                $('#' + dataId).show();
            });
            </script>
</body>

</html>
