<!DOCTYPE html>
<html>
<head>
    <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/details.css?t=201705102356'/>
</head>
<body>
   <%include ../public/header.ejs%>
   
   <div class="bread">
       <p class="zp-wrap"><%=__('CurrentLocation')%>：
           <a href="/"><%=__('Home')%></a>&gt;
           <a href="/productsC/Center/"><%=__('ProductCenter')%></a>&gt;
           <%=pro.name%>
       </p>
   </div>  
        <div class="zp-wrap">
            <div class="details-wrap">
                <div class="details-head">
                    <span class="products-icon"><img src="<%=pro.imgUrl%>" title="<%=pro.name%>" alt="<%=pro.name%>"></span>
                    <div class="details-info">
                         <h1 class="products-desc"><%= pro.name%></h1>
                        <p><%= __('Author') %>：<%=pro.createdBy%> <%= __('Date') %>：<%=pro.createdDate%></p>
                        <div class="products-js">
                            <p>品牌：<%=pro.brand%> </p>
                            <p>型号：<%=pro.model%> </p>
                            <p>滤材：<%=pro.filterMaterial%> </p>
                            <p>过滤精度：<%=pro.filtrationPrecision%> </p>
                            <p>工作温度：<%=pro.operatingTemperature%> </p>
                            <p>公称压力：<%=pro.nominalPressure%> </p>
                            <p>应用领域：<%=pro.applicationField%> </p>
                        </div>
                    </div>
                </div>
                <div class="details-content">
                    <!-- <div id="details-content-nav" class="details-content-nav">
                        <span class="details-cur" data-id='details-products-intro'><%= __('ProductDescription') %></span>
                        <span data-id='details-related-products'><%= __('RelatedProducts') %></span>
                        <span data-id='details-industryapplication'><%= __('IndustryApplication') %></span>
                    </div> -->
                    <div id="details-content-body" class="details-content-body">
                       <div id="details-products-intro" class="details-func">
                         <%-pro.description%>
                        </div>
                         <h3><%= __('RelatedProducts') %></h3>
                        <div id="details-related-products" class="details-func">
                            <div class="products-list">
                              <%if(list){
          						    			list.forEach(function(link,idx){
                                  if(idx<=5){%>
                                      <div class="products-center-item">
                                          <a href="/details/<%= secondCode%>/<%= link.code%>.html">
                                              <div class="products-icon">
                                                  <img src="<%= link.imgUrl%>" title="<%= link.name%>"  alt="<%= link.name%>">
                                              </div>
                                              <p class="products-desc"><%= link.name%></p>
                                          </a>
                                      </div>
                                <%}})}%>
                            </div>
                        </div>
                       <!--  <div id="details-industryapplication" class="details-func" style="display: none">
                            <%include ../public/industryapplication.ejs%>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
       <%include ../public/footer.ejs%>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
            <script type="text/javascript">
            $('#details-content-nav span').bind('click', function() {
                $('#details-content-nav span').removeClass('details-cur');
                $(this).addClass('details-cur');

                $('#details-content-body .details-func').hide();
                var _id = $(this).data('id');
                $('#' + _id).show();
            });
            $('ul#products-primary-nav li').bind('click', function() {
                $('ul#products-primary-nav li').removeClass('cur');
                $(this).addClass('cur');
                $('.products-types').hide();
                var dataId = $(this).data('id');
                $('#' + dataId).show();
            });
            </script>
</body>

</html>
