<!DOCTYPE html>
<html>
<head>
    <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/index.css?t=201705102356' />
    
</head>
<body>
    <%include ../public/header.ejs%>
        <div class="banner">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="javascript:void(0)"><img class="lazy-img" src="/images/banner/1.jpg"></a>
        </div>
        <div class="item">
          <a href="javascript:void(0)"><img class="lazy-img" src="/images/banner/2.jpg"></a>
        </div>
        <div class="item">
          <a href="javascript:void(0)"><img class="lazy-img" src="/images/banner/3.jpg"></a>
        </div>
         <div class="item">
          <a href="javascript:void(0)"><img class="lazy-img" src="/images/banner/4.jpg"></a>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
        </div>
        <div class="zp-wrap hot-recommended">
            <h2><%= __('HotRecommended') %></h2>
            <a href="/products/list?code=2101&fCode=1001">
                <img src="/images/hot/hot-1.jpg" title="<%= __('Product1') %>" alt="<%= __('Product1') %>">
                <p><%= __('Product1') %></p>
            </a>
            <a href="/products/list?code=2201&fCode=1002">
               <img src="/images/hot/hot-2.jpg" title="<%= __('Product2') %>" alt="<%= __('Product2') %>">
                <p><%= __('Product2') %></p>
            </a>
            <a href="/products/list?code=2301&fCode=1003">
                <img src="/images/hot/hot-3.jpg" title="<%= __('Product3') %>" alt="<%= __('Product3') %>">
                <p><%= __('Product3') %></p>
            </a>
            <a href="/products/list?code=2401&fCode=1004">
               <img src="/images/hot/hot-4.jpg" title="<%= __('Product4') %>" alt="<%= __('Product4') %>">
                <p><%= __('Product4') %></p>
            </a>
            <a href="/products/list?code=2501&fCode=1005">
                <img src="/images/hot/hot-5.JPG" title="<%= __('Product5') %>" alt="<%= __('Product5') %>">
                <p><%= __('Product5') %></p>
            </a>
            <a href="/products/list?code=2601&fCode=1006">
                <img src="/images/hot/hot-6.jpg" title="<%= __('Product6') %>" alt="<%= __('Product6') %>">
                <p><%= __('Product6') %></p>
            </a>
        </div>
        <div class="zp-wrap zp-ad">
            <a href="#" class="zp-ad-pre"></a>
            <a href="#" class="zp-ad-next"></a>
            <div id="demo">
                <div id="indemo">
                    <div id="demo1">
                     <%if(hotList){
			    			hotList.forEach(function(pro){ %>
			                    <a href="/details?id=<%= pro.id%>&sCode=<%= pro.sCode%>" title="<%= pro.name%>" alt="<%= pro.name%>">
			                     <img src="<%= pro.imgUrl%>">
			                    </a>
			            <%})}%>
                    </div>
                    <div id="demo2"></div>
                </div>
            </div>
        </div>
        <div class="zp-wrap zp-info">
            <div class="zp-info-list">
                <div class="zp-info-list-title">
                    <div class="zp-info-name">
                        <h4><%= __('NewsCenter') %></h4></div>
                    <a href="/EntreprisesNews"><%= __('More') %>&gt;</a>
                </div>
                <div class="zp-info-list-content zp-info-news">
                   <% newsList.forEach(function(news){%>
                   <div class="zp-info-news-list">
                        <img src="/images/cc.png">
                        <a href="/archives/<%=news.id%>/<%=news.type%>"><%=news.name%></a>
                        <span><%=news.createDate%></span>
                    </div>
				<%})%>
                </div>
            </div>
            <div class="zp-info-list">
                <div class="zp-info-list-title">
                    <div class="zp-info-name">
                        <h4><%= __('AboutUs') %></h4>
                        </div>
                    <a href="/aboutus"><%= __('More') %>&gt;</a>
                </div>
                <div class="zp-info-list-content">
                    <div class="zp-info-aboutus-icon"><img src="/images/apic.jpg"></div>
                    <p class="zp-info-aboutus-intro"><%= __('ServiceSupportDescription') %></p>
                </div>
            </div>
            <div class="zp-info-list">
                <div class="zp-info-list-title">
                    <div class="zp-info-name">
                        <h4><%= __('ServiceSupport') %></h4></div>
                    <a href="/ServiceSupport"><%= __('More') %>&gt;</a>
                </div>
                <div class="zp-info-list-content">
                    <div class="zp-info-aboutus-icon"><img src="/images/cc.png"></div>
                    <p class="zp-info-aboutus-intro"><%= __('serviceDescription') %></p>
                </div>
            </div>
        </div>
        <%include ../public/footer.ejs%>
        <script type="text/javascript" src="js/libs/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="js/plugs/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/global/common.js"></script>
        <script type="text/javascript">
        //轮播
        function zpad() {
            var speed = 50;

            var tab = document.getElementById("demo");

            var tab1 = document.getElementById("demo1");

            var tab2 = document.getElementById("demo2");

            tab2.innerHTML = tab1.innerHTML;

            function Marquee() {

                if (tab2.offsetWidth - tab.scrollLeft <= 0)

                    tab.scrollLeft -= tab1.offsetWidth
                else {
                    tab.scrollLeft++;

                }

            }

            var MyMar = setInterval(Marquee, speed);

            tab.onmouseover = function() {
                clearInterval(MyMar)
            };

            tab.onmouseout = function() {
                MyMar = setInterval
                (Marquee, speed)
        };
    }
    zpad();
        </script>
</body>

</html>
