<!DOCTYPE html>
<html>

<head>
    <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/news.css' />
    <link rel='stylesheet' href='/css/products.css' />
</head>

<body>
<%include ../public/header.ejs%>
    <div class="news">
        <div class="bread">
            <p class="zp-wrap"><%= __('CurrentLocation') %>：
                <a href="/"><%= __('Home') %></a>
                <%if(type==3){%>
                &gt;<a href="/NewsCenter"><%= __('NewsCenter') %></a>
                <%}else if(type==1){%>
                    &gt;<a href="/NewsCenter"><%= __('NewsCenter') %></a>
                    &gt;<a href="/EntreprisesNews"><%=title%></a>
                <%}else if(type==2){%>
                    &gt;<a href="/NewsCenter"><%= __('NewsCenter') %></a>
                    &gt;<a href="/ProductInformation"><%=title%></a>
                <%}%>
            </p>
        </div>
        <div class="zp-wrap">
            <%include ../public/news.ejs%>
            <div class="servicesupport-container">
                <div class="news_class">
                     <span class="n_span1">
                     <%if(type==1){%>
                        <font class="red"><%= __('EntreprisesNews').substring(0,2) %></font><%= __('EntreprisesNews').substring(2,4) %>
                     <%}else if(type==2){%>
                        <font class="red"><%= __('ProductInformation').substring(0,2) %></font><%= __('ProductInformation').substring(2,4) %>
                     <%}else{%>
                        <font class="red"><%= __('NewsCenter').substring(0,2) %></font><%= __('NewsCenter').substring(2,4) %>
                     <%}%>
                     </span>
                 </div>
                <ul class="news-list">
                   <% list.forEach(function(news){%>
				    <li><a  href="/archives/<%=type%>/<%=news.code%>.html"><%=news.name%></a><label class="fr"><%=news.createDate%></label></li>
				    <%})%>
                </ul>
            </div>
                <nav class="nav">
					<ul class="pagination paginationA paginationA01" id="pagination">
						<%- locals %>
					</ul>
				</nav>
        </div>
    </div>
<%include ../public/footer.ejs%>
<script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
