<!DOCTYPE html>
<html>

<head>
     <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/news.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="news">
        <div class="bread">
            <p class="zp-wrap">您当前位置：<a href="/">首页</a>&gt;<a href="/EntreprisesNews%>"><%= __('NewsCenter') %></a>
            </a></p>
        </div>
            <div class="zp-wrap">
                <%include ../public/news.ejs%>
                 <div class="servicesupport-container news-details">
                 <div class="news_class">
                     <span class="n_span1"><font class="red">产品</font>资讯</span>
                 </div>
                    <h1><%= news.name%></h1>
                    <p>日期:<%= news.createDate%>&nbsp;来源:<%= news.createBy%></p>
                    <div class="news-content"><%-news.description%></div>
                    <div class="news-handover">
                    <%if(last){%>
                        <a href="/archives/<%= last.code%>/<%= type%>.html">上一篇：<%= last.name%></a> 
                        <%}%>
                     <%if(next){%>
                        <a href="/archives/<%= next.code%>/<%= type%>.html">下一篇：<%= next.name%></a> 
                        <%}%>
                    </div>
                    <div class="news-recommended">
                        <div class="news-recommended-col1">
                            <h5>最新动态</h5>
                            <ul class="news-list">
                            <% entrepriseNewsList.forEach(function(news){%>
                               <li><a href="/archives/<%=news.code%>/<%=type%>.html"><%=news.name%></a><label class="fr"><%=news.createDate%></label></li>
                            <%})%>
                            </ul> 
                        </div>
                        <div class="news-recommended-col1">
                         <h5>最新资讯</h5>
                            <ul class="news-list">
                            <% productInformationList.forEach(function(news){%>
                               <li><a  href="/archives/<%=news.code%>/<%=type%>.html"><%=news.name%></a><label class="fr"><%=news.createDate%></label></li>
                            <%})%>
                            </ul> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <%include ../public/footer.ejs%>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
