<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/news.css' />
    <link rel='stylesheet' href='/css/products.css' />
</head>

<body>
<%include ../public/header.ejs%>
    <div class="news">
        <div class="zp-wrap">
            <%include ../public/news.ejs%>
            <div class="servicesupport-container">

                <div class="bread">您的位置：<a href="/">首页</a>&gt;<a href="/news/list?type=productInformation"><%=title%></a></div>
                <ul class="news-list">
                   <% list.forEach(function(news){%>
				<li><a  href="/news/detail/<%=news.id%>/<%=type%>"><%=news.name%></a></li>
				<%})%>
                </ul>
            </div>
                <nav class="nav">
					<ul class="pagination paginationA paginationA01" id="pagination">
						<%- locals %>
					</ul>
				</nav>
        </div>
    </div>
<%include ../public/footer.ejs%>
<script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
