<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/news.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="news">
            <div class="zp-wrap">
                <%include ../public/news.ejs%>
                 <div class="servicesupport-container">
                       <div class="bread">您的位置：<a href="/">首页</a>&gt;<a href="/servicesupport/"><%= title%></a></div>
                       <h1>   标题:     <%= news.name%></h1>
                       <p>
				                    
				                        日期:    <%= news.createDate%>     来源:   <%= news.createBy%>
                        <%-news.description%>
                        </p>
                </div>
            </div>
        </div>
        <%include ../public/footer.ejs%>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
