<!DOCTYPE html>
<html>

<head>
    <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/news.css' />
    <link rel='stylesheet' href='/css/products.css' />
</head>

<body>
<%include ../public/header.ejs%>
    <div class="news">
        <div class="bread">
            <p class="zp-wrap">您当前位置：<a href="/">首页</a>&gt;<a href="/news/list?type=productInformation"><%=title%></a></p>
        </div>
        <div class="zp-wrap">
            <%include ../public/news.ejs%>
            <div class="servicesupport-container">
                <div class="news_class">
                     <span class="n_span1"><font class="red">产品</font>资讯</span>
                 </div>
                <ul class="news-list">
                   <% list.forEach(function(news){%>
				    <li><a  href="/news/detail/<%=news.id%>/<%=type%>"><%=news.name%></a><label class="fr">2017-06-03</label></li>
				    <%})%>
                </ul>
            </div>
                <nav class="nav">
					<ul class="pagination paginationA paginationA01" id="pagination">
						<%- locals %>
					</ul>
				</nav>
        </div>
    </div>
<%include ../public/footer.ejs%>
<script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
