<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/products.css' />
</head>

<body>
    <%include ../public/header.ejs%>
 <div class="zp-wrap">
 <div id="firstCode" style="display:none;"><%=firstCode%></div>
            <div class="products-nav">
                <div class="products-r1">
                    <h3>所有系列</h3>
                    <div class="products-list">
                        <ul id="products-primary-nav">
                            <li><a href="/products/1001">液压过滤器滤芯</a></li>
                            <li><a href="/products/1002">空压机三滤及后置过滤器滤芯</a></li>
                            <li><a href="/products/1003">真空泵过滤器滤芯</a></li>
                            <li><a href="/products/1004">金属烧结过滤器滤芯</a></li>
                            <li><a href="/products/1005">滤油机系列</a></li>
                            <li><a href="/products/1006">其他过滤设备</a></li>
                        </ul>
                    </div>
                </div>
                <div id="products-primary-01" class="products-r1 products-types">
                    <h3>所有品牌</h3>
                    <div id="products-content" class="products-list">
                        <ul>
                        <% if(secondList){ 
                        secondList.forEach(function(slist){%>
                         <li><a href="/products/list/<%=slist.productCode%>?code=<%=slist.productCode%>"><%=slist.productNameCh%></a></li>
		                <%})}%>
                           
                        </ul>
                    </div>
                </div>
            </div>
            <div class="products-wrap">
                <h3>产品中心</h3>
                <div id="products-center" class="products-list">
                <%if(list){
					list.forEach(function(pro){ %>
					<div class="products-center-item">
                        <a href="/details/<%= pro.code%>" title="<%= pro.nameCh%>"  alt="<%= pro.nameCh%>"><img class="products-icon" src="<%= pro.imgUrl%>"></a>
                        <p class="products-desc"><%= pro.nameCh%></p>
                    </div>
		        <%})}%>
                </div>
                <nav class="nav">
			<ul class="pagination paginationA paginationA01" id="pagination">
				<%- locals %>
			</ul>
		</nav>
            </div>
        </div>
        
       <%include ../public/footer.ejs%>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
            <script type="text/javascript">
               var name=$("#firstCode").text();
               $("#products-primary-nav li").each(function(){
            	    if($(this).attr("name")==name){
            	    	$(this).attr("class","cur")
            	    }
            	  });
               
            </script>
</body>

</html>
