<!DOCTYPE html>
<html>
<head>
    <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/products.css?t=201705102356' />
</head>
<body>
<%include ../public/header.ejs%>
<div class="bread">
    <p class="zp-wrap">您当前位置：<a href="/">首页</a>&gt;<a href="/products/1001/2101.html">产品中心</a></p>
</div>
<div class="zp-wrap">
    <div class="products-nav-content">
    <h3>所有产品分类<span class="icon-everyone icon-menu"></span></h3>
        <div class="products-list">
            <ul>
              <%proList.forEach(function(first){%>
                <li>
                    <a href="/products/<%= first.firstCode%>/<%= first.secondCode%>.html"><span class="icon-everyone icon-arrow-right"></span><%= first.firstName%></a>
                   <ul>
                     <%first.secondProList.forEach(function(second){%>
                        <li><a href="/products/<%= first.firstCode%>/<%= second.productCode%>.html"><%=second.productName%></a></li>
                     <%});%>
                    </ul>
                </li>
                <%})%>
            </ul>
        </div>
    </div>
    <div class="products-wrap">
        <h3><%=firstName%></h3>
        <div id="products-center" class="clearfix products-content">
           <%if(list &&list.length>0){
                list.forEach(function(pro){ %>
                <div class="products-center-item">
                    <a href="/details/<%= pro.code%>/<%= secondCode%>.html">
                        <div class="products-icon">
                            <img src="<%= pro.imgUrl%>" title="<%= pro.name%>"  alt="<%= pro.name%>">
                        </div>
                        <p class="products-desc"><%= pro.name%></p>
                    </a>
                </div>
            <%})}%>
        </div>
        <nav class="nav">
    		<ul class="pagination paginationA paginationA01" id="pagination">
    			<%- locals %>
    		</ul>
    	</nav>
    </div>
</div>
<%include ../public/footer.ejs%>
</body>

</html>
