<!DOCTYPE html>
<html>

<head>
    <%include ../public/headerchild.ejs%>
    <link rel='stylesheet' href='/css/servicesupport.css' />
</head>

<body>
    <%include ../public/header.ejs%>
        <div class="servicesupport">
         <div class="bread">
            <p class="zp-wrap"><%=__('CurrentLocation')%>:<a href="/"><%=__('Home')%></a>&gt;<a href="/ServiceSupport"><%=__('ServiceSupport')%></a></p>
        </div>
            <div class="zp-wrap">
                <%include ../public/service.ejs%>
                    <div class="servicesupport-container">
                    <div class="news_class">
                    <%if(inlanguage==='en'){%>
                    <span class="n_span1"><font class="red">Service</font>Support</span>
                    <%}else{%>
                    <span class="n_span1"><font class="red">服务</font>支持</span>
                    <%}%>
                    </div>
                    <div class="service-content">
                        <%if(inlanguage==='en'){%>
                            <%-content.content_en%>
                        <%}else{%>
                            <%-content.content_zh%>
                        <%}%>
                    </div>
                    </div>
            </div>
        </div>
        <%include ../public/footer.ejs%>
            <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="/js/global/common.js"></script>
</body>

</html>
