<div class="servicesupport-slider">
    <ul>
        <li class="newscenter">关于AIDA</li>
        <li class="<%=type==1?'service-cur':''%>"><a href="/companyinfo"><%= __('CompanyProfile') %></a></li>
        <li class="<%=type==2?'service-cur':''%>"><a href="/companyhonor"><%= __('CompanyHonor') %></a></li>
        <li class="<%=type==3?'service-cur':''%>"><a href="/companyculture"><%= __('CompanyCulture') %></a></li>
        <li class="<%=type==4?'service-cur':''%>"><a href="/contactus"><%= __('ContactUs') %></a></li>
    </ul>
</div>
