<div class="fotter">
    <div class="zp-wrap">
        <h3><%= __('Hello') %></h3>
        <ul class="fotter-size-nav">
            <li>
                <h4><%= __('Home') %></h4>
            </li>
            <li>
                <h4><%= __('AboutUs') %></h4>
                <p><a href="/companyinfo"><%= __('CompanyProfile') %></a></p>
                <p><a href="/companyhonor"><%= __('Honor') %></a></p>
                <p><a href="/companyculture"><%= __('CompanyCulture') %></a></p>
                <p><a href="/linkus">联系我们</a></p>
            </li>
            <li>
                <h4><%= __('ProductCenter') %></h4>
                <p><a href="/CompanyInfo/"><%= __('Product1') %></a></p>
                <p><a href="/honor/"><%= __('Product2') %></a></p>
                <p><a href="/Culture/"><%= __('Product3') %></a></p>
                <p><a href="/Culture/"><%= __('Product4') %></a></p>
                <p><a href="/Culture/"><%= __('Product5') %></a></p>
                <p><a href="/Culture/"><%= __('Product6') %></a></p>
            </li>
            <li>
                <h4><%= __('Solution') %></h4>
            </li>
            <li>
                <h4><%= __('ServiceSupport') %></h4>
                <p><a href="/companyinfo/"><%= __('ServiceGuarantee') %></a></p>
                <p><a href="/honor/"><%= __('ServiceProcess') %></a></p>
            </li>
            <li>
                <h4><%= __('NewsCenter') %></h4>
                <p><a href="/CompanyInfo/"><%= __('EntreprisesNews') %></a></p>
                <p><a href="/honor/"><%= __('ProductInformation') %></a></p>
            </li>
        </ul>
        <p><%= __('footer') %>
            <a href="#" target="blank"><%= __('YuCP') %></a> &nbsp;&nbsp;| &nbsp;&nbsp;<a href="/sitemap.html" target="blank">Sitemap</a>
        </p>
        <div class='footer-related-link'><%= __('Links') %>：
            <a href="/Leemin/" target="_blank">国标滤芯</a>|<a href="/AtlasFilter/" target="_blank">阿特拉斯过滤芯</a>|<a href="/HYDAC_filter/" target="_blank">贺德克滤芯</a>|<a href="/MAHLE_filter/" target="_blank">玛勒过滤器滤芯</a>|<a href="/PARKE_filter/" target="_blank">派克滤芯</a><a href="/" target="_blank"> <img src="/images/flink.gif" alt="" style="vertical-align: bottom;"></a>
            <div class="share-default">
                <a href="javascript:void(0)" style="font-size: 16px;color: #868686;"><%= __('AboutUs') %>分享&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                <div class="bdsharebuttonbox bdshare-button-style0-16" data-tag="share_1" data-bd-bind="1489937138552" style="float:right">
                    <a data-to="weibo" data-cmd="tsina" title="新浪微博" target="_blank" href="javascript:void(0)" class="share-btn weibo"></a>
                    <a data-to="qzone" data-cmd="qzone" title="QQ空间" target="_blank" href="javascript:void(0)" class="share-btn qzone"></a>
                    <a data-to="weixin" data-cmd="weixin" title="微信" target="_blank" href="javascript:void(0)" class="share-btn weixin"></a>
                    <div class="share-menu" style="display: none;">
                        <ul>
                            <li> <a data-cmd="sqq" title="QQ好友" target="_blank" href="javascript:void(0)" class="share-btn-2 qq"><i></i>QQ 好友</a></li>
                            <li><a data-cmd="douban" title="豆瓣" target="_blank" href="javascript:void(0)" class="share-btn-2 douban"><i></i>豆瓣</a></li>
                            <li><a data-cmd="tieba" title="百度贴吧" target="_blank" href="javascript:void(0)" class="share-btn-2 tieba"><i></i>百度贴吧</a></li>
                            <li><a data-cmd="tqq" title="腾讯微博" target="_blank" href="javascript:void(0)" class="share-btn-2 tqq"><i></i>腾讯微博</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/plugs/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/global/common.js"></script>