<div class="zp-head">
       <div class="zp-top">
        <div class="zp-wrap">
            <ul>
                <li><a href="http://m.1688.com/winport/b2b-31674918387115f.html" rel="nofollow" target="_blank"><%= __('Alibaba') %></a></li>
                <li><a href="/contactus" rel="nofollow"><%= __('ContactUs') %></a></li>
                <li><a href="/aboutus" rel="nofollow"><%= __('AboutUs') %></a></li>
                <li id="language-setting" class="language-setting">
                <%if(inlanguage==='en'){%>
                    <a href="http://zh.aidafilter.cn/" target="_blank" rel="nofollow" class="language-s1">中文</a>
                    <ul><li><a href="http://en.aidafilter.cn/" target="_blank" rel="nofollow">English</a></li></ul>
                <%}else{%>
                    <a href="http://en.aidafilter.cn/" target="_blank" rel="nofollow" class="language-s1">English</a>
                    <ul><li><a href="http://zh.aidafilter.cn/" target="_blank" rel="nofollow">中文</a></li></ul>
                <%}%>
                </li>
            </ul>
        </div>
    </div>
    <div class="zp-md">
    <div class="zp-wrap">
        <a href="/"><div class="zp-logo"><img src="/images/logo/logo.png" title="艾达机械" alt="艾达机械"></div></a>
        <div class="zp-contact-style">
            <div class="zp-hot-line">
                <p><%= __('24HourHotline') %></p>
                <p>15137376132</p>
            </div>
            <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2230845473&amp;site=qq&amp;menu=yes">
                <div class="zp-online-service online-service">
                    <img src="/images/logo/online.jpg">
                </div>
            </a>
            <div class="zp-online-service">
                <img src="/images/logo/freefone.jpg">
            </div>
        </div>
    </div>
    </div>
    <div class="zp-site-nav">
        <ul class="zp-wrap">
            <li><a href="/"><%= __('Home') %></a></li>
            <li class="nav_first">
                <a href="/productsC/Center.html"><%= __('ProductCenter') %></a>
                <div class="about_nav products-nav">
                    <ul>
                    <%proList.forEach(function(first){%>
                        <li>
                            <h3><a href="/productF/<%= first.firstCode%>.html"><%= first.firstName%></a></h3>
                            <div class="zp-product-list">
                                <ul>
                                 <%first.secondProList.forEach(function(obj){%>
                                    <li><a href="/products/<%= first.firstCode%>/<%=obj.productCode%>.html"><%=obj.productName%></a></li>
                                 <%});%>
                                </ul>
                            </div>
                        </li>
                    <%})%>
                    </ul>
                </div>
            </li>
            <li><a href="/case/"><%= __('Solution') %></a></li>
            <li class="nav_first"><a href="/ServiceSupport"><%= __('ServiceSupport') %></a>
                <div class="about_nav servicesupport-nav">
                    <ul>
                        <li><a href="/ServiceGuarantee"><%= __('ServiceGuarantee') %></a></li>
                        <li><a href="/ServiceProcess"><%= __('ServiceProcess') %></a></li>
                    </ul>
                    <!--<div class="servicesupport-s1">
                    <h2><%= __('Service') %></h2>
                    </div>-->
                </div>
            </li>
            <li class="nav_first"><a href="/NewsCenter"><%= __('NewsCenter') %></a>
                <div class="about_nav servicesupport-nav">

                    <ul>
                        <li><a href="/EntreprisesNews"><%= __('EntreprisesNews') %></a></li>
                        <li><a href="/ProductInformation"><%= __('ProductInformation') %></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
