<div class="zp-head">
       <div class="zp-top">
        <div class="zp-wrap">
            <ul>
                <li><a href="http://m.1688.com/winport/b2b-31674918387115f.html" target="_blank"><%= __('Alibaba') %></a></li>
                <li><a href="/contactus"><%= __('ContactUs') %></a></li>
                <li><a href="/aboutus"><%= __('AboutUs') %></a></li>
                <li id="language-setting" class="language-setting">
                <%if(inlanguage==='en'){%>
                    <a href="http://zh.aidafilter.cn/" target="_blank" class="language-s1">中文</a>
                    <ul><li><a href="http://en.aidafilter.cn/" target="_blank">English</a></li></ul>
                <%}else{%>
                    <a href="http://en.aidafilter.cn/" target="_blank" class="language-s1">English</a>
                    <ul><li><a href="http://zh.aidafilter.cn/" target="_blank">中文</a></li></ul>
                <%}%>
                </li>
            </ul>
        </div>
    </div>
    <div class="zp-md">
    <div class="zp-wrap">
        <a href="/"><div class="zp-logo"><img src="/images/logo/logo.png"></div></a>
        <div class="zp-contact-style">
            <div class="zp-hot-line">
                <p><%= __('24HourHotline') %></p>
                <p>15137376132</p>
            </div>
            <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2230845473&amp;site=qq&amp;menu=yes">
                <div class="zp-online-service online-service">
                    <img src="/images/logo/online.jpg">
                </div>
            </a>
            <div class="zp-online-service">
                <img src="/images/logo/freefone.jpg">
            </div>
        </div>
    </div>
    </div>
    <div class="zp-site-nav">
        <ul class="zp-wrap">
            <li><a href="/"><%= __('Home') %></a></li>
            <li class="nav_first">
                <a href="/products/list?code=2101&fCode=1001"><%= __('ProductCenter') %></a>
                <div class="about_nav products-nav">
                    <ul>
                        <li>
                            <h3><a href="/products/list?code=2101&fCode=1001"><%= __('Product1') %></a></h3>
                            <div class="zp-product-list">
                                <ul>
                                    <li><a href="/products/list?code=2101&fCode=1001"><%= __('Product1_Second_product1') %></a></li>
                                    <li><a href="/products/list?code=2102&fCode=1001"><%= __('Product1_Second_product2') %></a></li>
                                    <li><a href="/products/list?code=2103&fCode=1001"><%= __('Product1_Second_product3') %></a></li>
                                    <li><a href="/products/list?code=2104&fCode=1001"><%= __('Product1_Second_product4') %></a></li>
                                    <li><a href="/products/list?code=2105&fCode=1001"><%= __('Product1_Second_product5') %></a></li>
                                    <li><a href="/products/list?code=2106&fCode=1001"><%= __('Product1_Second_product6') %></a></li>
                                    <li><a href="/products/list?code=2107&fCode=1001"><%= __('Product1_Second_product7') %></a></li>
                                    <li><a href="/products/list?code=2108&fCode=1001"><%= __('Product1_Second_product8') %></a></li>
                                    <li><a href="/products/list?code=2109&fCode=1001"><%= __('Product1_Second_product9') %></a></li>
                                    <li><a href="/products/list?code=2110&fCode=1001"><%= __('Product1_Second_product10') %></a></li>
                                    <li><a href="/products/list?code=2111&fCode=1001"><%= __('Product1_Second_product11') %></a></li>
                                    <li><a href="/products/list?code=2112&fCode=1001"><%= __('Product1_Second_product12') %></a></li>
                                    <li><a href="/products/list?code=2113&fCode=1001"><%= __('Product1_Second_product13') %></a></li>
                                    <li><a href="/products/list?code=2114&fCode=1001"><%= __('Product1_Second_product14') %></a></li>
                                    <li><a href="/products/list?code=2115&fCode=1001"><%= __('Product1_Second_product15') %></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h3><a href="/products/list?code=2201&fCode=1002"><%= __('Product2') %></a></h3>
                            <div class="zp-product-list">
                                <ul>
                                    <li><a href="/products/list?code=2201&fCode=1002"><%= __('Product2_Second_product1') %></a></li>
                                    <li><a href="/products/list?code=2202&fCode=1002"><%= __('Product2_Second_product2') %></a></li>
                                    <li><a href="/products/list?code=2203&fCode=1002"><%= __('Product2_Second_product3') %></a></li>
                                    <li><a href="/products/list?code=2204&fCode=1002"><%= __('Product2_Second_product4') %></a></li>
                                    <li><a href="/products/list?code=2205&fCode=1002"><%= __('Product2_Second_product5') %></a></li>
                                    <li><a href="/products/list?code=2206&fCode=1002"><%= __('Product2_Second_product6') %></a></li>
                                    <li><a href="/products/list?code=2207&fCode=1002"><%= __('Product2_Second_product7') %></a></li>
                                    <li><a href="/products/list?code=2208&fCode=1002"><%= __('Product2_Second_product8') %></a></li>
                                    <li><a href="/products/list?code=2209&fCode=1002"><%= __('Product2_Second_product9') %></a></li>
                                    <li><a href="/products/list?code=2210&fCode=1002"><%= __('Product2_Second_product10') %></a></li>
                                    <li><a href="/products/list?code=2211&fCode=1002"><%= __('Product2_Second_product11') %></a></li>
                                    <li><a href="/products/list?code=2212&fCode=1002"><%= __('Product2_Second_product12') %></a></li>
                                    <li><a href="/products/list?code=2213&fCode=1002"><%= __('Product2_Second_product13') %></a></li>
                                    <li><a href="/products/list?code=2214&fCode=1002"><%= __('Product2_Second_product14') %></a></li>
                                    <li><a href="/products/list?code=2215&fCode=1002"><%= __('Product2_Second_product15') %></a></li>
                                    <li><a href="/products/list?code=2216&fCode=1002"><%= __('Product2_Second_product16') %></a></li>
                                    <li><a href="/products/list?code=2217&fCode=1002"><%= __('Product2_Second_product17') %></a></li>
                                    <li><a href="/products/list?code=2218&fCode=1002"><%= __('Product2_Second_product18') %></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h3><a href="/products/list?code=2301&fCode=1003"><%= __('Product3') %></a></h3>
                            <div class="zp-product-list">
                                <ul>
                                    <li><a href="/products/list?code=2301&fCode=1003"><%= __('Product3_Second_product1') %></a></li>
                                    <li><a href="/products/list?code=2302&fCode=1003"><%= __('Product3_Second_product2') %></a></li>
                                    <li><a href="/products/list?code=2303&fCode=1003"><%= __('Product3_Second_product3') %></a></li>
                                    <li><a href="/products/list?code=2304&fCode=1003"><%= __('Product3_Second_product4') %></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h3><a href="/products/list?code=2401&fCode=1004"><%= __('Product4') %></a></h3>
                            <div class="zp-product-list">
                                <ul>
                                    <li><a href="/products/list?code=2401&fCode=1004"><%= __('Product4_Second_product1') %></a></li>
                                    <li><a href="/products/list?code=2402&fCode=1004"><%= __('Product4_Second_product2') %></a></li>
                                    <li><a href="/products/list?code=2403&fCode=1004"><%= __('Product4_Second_product3') %></a></li>
                                    <li><a href="/products/list?code=2404&fCode=1004"><%= __('Product4_Second_product4') %></a></li>
                                    <li><a href="/products/list?code=2405&fCode=1004"><%= __('Product4_Second_product5') %></a></li>
                                    <li><a href="/products/list?code=2406&fCode=1004"><%= __('Product4_Second_product6') %></a></li>
                                    <li><a href="/products/list?code=2407&fCode=1004"><%= __('Product4_Second_product7') %></a></li>
                                    <li><a href="/products/list?code=2408&fCode=1004"><%= __('Product4_Second_product8') %></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h3><a href="/products/list?code=2501&fCode=1005"><%= __('Product5') %></a></h3>
                            <div class="zp-product-list">
                                <ul>
                                    <li><a href="/products/list?code=2501&fCode=1005"><%= __('Product5_Second_product1') %></a></li>
                                    <li><a href="/products/list?code=2502&fCode=1005"><%= __('Product5_Second_product2') %></a></li>
                                    <li><a href="/products/list?code=2503&fCode=1005"><%= __('Product5_Second_product3') %></a></li>
                                    <li><a href="/products/list?code=2504&fCode=1005"><%= __('Product5_Second_product4') %></a></li>
                                    <li><a href="/products/list?code=2505&fCode=1005"><%= __('Product5_Second_product5') %></a></li>
                                    <li><a href="/products/list?code=2506&fCode=1005"><%= __('Product5_Second_product6') %></a></li>
                                    <li><a href="/products/list?code=2507&fCode=1005"><%= __('Product5_Second_product7') %></a></li>
                                    <li><a href="/products/list?code=2508&fCode=1005"><%= __('Product5_Second_product8') %></a></li>
                                    <li><a href="/products/list?code=2509&fCode=1005"><%= __('Product5_Second_product9') %></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h3><a href="/products/list?code=2601&fCode=1006"><%= __('Product6') %></a></h3>
                            <div class="zp-product-list">
                                <ul style="background: none;">
                                    <li><a href="/products/list?code=2601&fCode=1006"><%= __('Product6_Second_product1') %></a></li>
                                    <li><a href="/products/list?code=2602&fCode=1006"><%= __('Product6_Second_product2') %></a></li>
                                    <li><a href="/products/list?code=2603&fCode=1006"><%= __('Product6_Second_product3') %></a></li>
                                    <li><a href="/products/list?code=2604&fCode=1006"><%= __('Product6_Second_product4') %></a></li>
                                    <li><a href="/products/list?code=2605&fCode=1006"><%= __('Product6_Second_product5') %></a></li>
                                    <li><a href="/products/list?code=2606&fCode=1006"><%= __('Product6_Second_product6') %></a></li>
                                    <li><a href="/products/list?code=2607&fCode=1006"><%= __('Product6_Second_product7') %></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="/case/"><%= __('Solution') %></a></li>
            <li class="nav_first"><a href="/service/support/"><%= __('ServiceSupport') %></a>
                <div class="about_nav servicesupport-nav">
                    <ul>
                        <li><a href="/service/guarantee"><%= __('ServiceGuarantee') %></a></li>
                        <li><a href="/service/process"><%= __('ServiceProcess') %></a></li>
                    </ul>
                    <div class="servicesupport-s1">
                    <h2><%= __('Service') %></h2>
                    </div>
                </div>
            </li>
            <li class="nav_first"><a href="/news/list?type=entrepriseNews"><%= __('NewsCenter') %></a>
                <div class="about_nav">
                    <ul>
                        <li><a href="/news/list?type=entrepriseNews"><%= __('EntreprisesNews') %></a></li>
                        <li><a href="/news/list?type=productInformation"><%= __('ProductInformation') %></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
