<div class="servicesupport-slider">
    <ul>
        <li class="newscenter">售后服务</li>
        <li class="<%=type==1?'service-cur':''%>"><a href="/ServiceSupport"><%= __('ServiceSupport') %></a></li>
        <li class="<%=type==2?'service-cur':''%>"><a href="/ServiceGuarantee"><%= __('ServiceGuarantee') %></a></li>
        <li class="<%=type==3?'service-cur':''%>"><a href="/ServiceProcess"><%= __('ServiceProcess') %></a></li>
    </ul>
</div>
