    <%include ../header.ejs%>
    <body>
       <%include ../left.ejs%>
      <section id="main" class="column">
      <div style="width: 100px;display: inline;float: left;margin-top: 15px;">
<h3>产品发布</h3>
</div>
	<hr class="split"> 
    <article class="module width_full">
			<div class="module_content">
				<fieldset>
					<label for="txtName">产品中文名称</label>
					<input type="hidden" id="id" name="id"/>
					<input type="text" id="nameCh" name="nameCh" />
				</fieldset>
				<fieldset>
					<label for="txtName">产品英文名称</label>
					<input type="hidden" id="id" name="id"/>
					<input type="text" id="nameEn" name="nameEn" />
				</fieldset>
				<fieldset>
					<label for="txtModule">产品编码</label>
					<input type="text" id="code" name="code" />
				</fieldset>
				<fieldset>
					<label for="txtAction">图片</label>
					 <span class="btn btn-success fileinput-button">
				            <span>上传</span>
				            <input type="file" id="imgUrl" name="imgUrl" onchange="uploadImg()">
				        </span>
					<img class="product_img" id="productImg" src=""></img>
				</fieldset>
				<fieldset>
					<label for="txtButton">一级产品名称</label>
						<select name="firstCode" id="firstCode" onchange="getSecondProductList()">
					<% var i=0;
					firstList.forEach(function(flist){
					   if(i==0){%>
					   <option value="<%=flist.productCode%>" selected><%=flist.productNameCh%></option>
					   <%}else{%>
					  <option value="<%=flist.productCode%>"><%=flist.productNameCh%></option>
					<%}
					i++;
					})%>   
			        </select>
				</fieldset>
				<fieldset>
					<label for="txtButton">二级产品名称</label>
					<select name="secondCode" id="secondCode">
					
					<% var k=0;
					secondList.forEach(function(slist){
					   if(k==0){%>
					   <option value="<%=slist.productCode%>" selected><%=slist.productNameCh%></option>
					   <%}else{%>
					  <option value="<%=slist.productCode%>"><%=slist.productNameCh%></option>
					<%}
					  k++;
					})%>   
			        </select>
				</fieldset>
				<fieldset>
				<div>
				<label for="txtButton">详细信息</label>
				<script id="editor" type="text/plain" style="width:100%;height:300px;"></script>
				</div>
				</fieldset>
				<fieldset>
				<div>
				<label for="txtButton">详细信息英文</label>
				<script id="editorEn" type="text/plain" style="width:100%;height:300px;"></script>
				</div>
				</fieldset>
				<div class="tc mt20">
					<a onclick="saveProduct()" class="button green" id="btnAdd">保存</a>
				</div>
			</div>
			
		</article><!-- end of post new article -->
		</section>
		
		<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    var ueEn = UE.getEditor('editorEn');
    function getSecondProductList(){
 	   var fCode=$("#firstCode").val();
 	   $.ajax({    
            type:'get',        
            url:'/product/getSecondProductList/'+fCode,    
            cache:false,    
            dataType:'json',    
            success:function(data){
                if(data){
             	   var html="";
             	   $.each(data, function(i, obj) {
             		   if(i==0){
             			   html=html+"<option value=''"+obj.productCode+"' selected>"+obj.productNameCh+"</option>";
             		   }else{
             			   html=html+"<option value=''"+obj.productCode+"' >"+obj.productNameCh+"</option>";
             		   }
             		});
             	   $("#secondCode").html(html);
                }
            }    
        });    
    }
    function uploadImg(){
 	   var FormServlet= "/product/upload";
 	   var fileInfo =$('#imgUrl').prop('files')[0];
 	   var fd = new FormData();
 	   fd.append("imgUrl", fileInfo);
 	   $.ajax({    
            type:'post',        
            url:FormServlet,    
            data:fd,
            cache:false,    
            processData: false,
    		contentType: false,  
    		dataType:'json',
            success:function(data){
            	$("#productImg").attr("src",data.img+'?random='+Math.random());
            	 $("#id").val(data.id);
            }    
        });    
               
    }
    function saveProduct(){
       var id=$("#id").val();
       var nameEn=$("#nameEn").val();
 	   var nameCh=$("#nameCh").val();
 	   var code=$("#code").val();
 	   var imgUrl=$("#imgUrl").val();
 	   var firstCode=$("#firstCode").val();
 	   var secondCode=$("#secondCode").val();
 	   var description=ue.getContent();
 	   var descriptionEn=ueEn.getContent();
 	   description=description.replace(new RegExp("\s{2,} ","g"),"").replace(new RegExp("\n","g"), "");
 	  descriptionEn=descriptionEn.replace(new RegExp("\s{2,} ","g"),"").replace(new RegExp("\n","g"), "");
 	   var data={id:id,nameEn:nameEn,nameCh:nameCh,code:code,imgUrl:imgUrl,firstCode:firstCode,secondCode:secondCode,description:description,descriptionEn:descriptionEn};
 	   
 	   $.ajax({
 		   url:"/product/saveProduct",
 		   type: "post",
 		   data: data,
 		   dataType:'json',
 		   error: function(XMLHttpRequest, textStatus, errorThrown){
 		      alert("error message : "+errorThrown.toString());
 		      },
 		   success: function(data){
 		      var url="/product/secondList?code="+data.firstCode+'&sCode='+secondCode;
 		      location.href =url;
 		   }
 		  }); 
    }
</script>
</body>
        <%include ../footer.ejs%>