    <%include ../header.ejs%>
    <body>
       <%include ../left.ejs%>
      <section id="main" class="column">
    <article class="module width_full">
			<div class="module_content">
				<fieldset>
					<label for="txtName">产品中文名称</label>
					<input type="hidden" id="id" name="id" value="<%=result.id%>"/>
					<input type="text" id="nameCh" name="nameCh" value="<%=result.nameCh%>"/>
				</fieldset>
				<fieldset>
					<label for="txtName">产品英文名称</label>
					<input type="text" id="nameEn" name="nameEn" value="<%=result.nameEn%>"/>
				</fieldset>
				<fieldset>
					<label for="txtModule">产品编码</label>
					<input type="text" id="code" name="code" value="<%=result.code%>"/>
				</fieldset>
				<fieldset>
					<label for="txtAction">图片</label>
					<input type="file" id="img" name="img" onchange="uploadImg()"/>
					<input type="hidden" id="imgUrl" name="imgUrl" value="<%=result.imgUrl%>"/>
					<img class="product_img" id="productImg" src="<%=result.imgUrl%>"></img>
				</fieldset>
				
				<fieldset>
					<label for="txtButton">简介</label>
					<input type="text" id="introduction" name="introduction" value="<%=result.introduction%>"/>
				</fieldset>
				<fieldset>
					<label for="txtButton">一级产品名称</label>
						<select name="firstCode" id="firstCode" onchange="getSecondProductList()">
					<% firstList.forEach(function(flist){
					   if(flist.productCode==result.firstCode){%>
					   <option value="<%=flist.productCode%>" selected><%=flist.productNameCh%></option>
					   <%}else{%>
					  <option value="<%=flist.productCode%>"><%=flist.productNameCh%></option>
					<%}})%>   
			        </select>
				</fieldset>
				<fieldset>
					<label for="txtButton">二级产品名称</label>
					<select name="secondCode" id="secondCode">
					<% secondList.forEach(function(slist){
					   if(slist.productCode==result.secondCode){%>
					   <option value="<%=slist.productCode%>" selected><%=slist.productNameCh%></option>
					   <%}else{%>
					  <option value="<%=slist.productCode%>"><%=slist.productNameCh%></option>
					<%}})%>   
			        </select>
				</fieldset>
				<fieldset>
				<div>
				<label for="txtButton">详细信息</label>
				<script id="editor" type="text/plain" style="width:100%;height:300px;"></script>
				</div>
				</fieldset>
				<fieldset>
				<div>
				<label for="txtButton">详细信息英文</label>
				<script id="editorEn" type="text/plain" style="width:100%;height:300px;"></script>
				</div>
				</fieldset>
				<div class="tc mt20">
					<a onclick="saveProduct()" class="button green" id="btnAdd">保存</a>
				</div>
			</div>
			
		</article><!-- end of post new article -->
		</section>
		
		<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    var ueEn=UE.getEditor('editorEn');
    $(function() {
		  var conntent ="" + "<%=result.description%>";
		  var conntentEn="" + "<%=result.descriptionEn%>";
		  ue.ready(function() {//编辑器初始化完成再赋值  
	            //ue.setContent(conntent);  //赋值给UEditor  
	            ue.execCommand( 'inserthtml', rep(conntent));
	        });  
		  ueEn.ready(function() {//编辑器初始化完成再赋值  
	            //ue.setContent(conntent);  //赋值给UEditor  
	            ueEn.execCommand( 'inserthtml', rep(conntentEn));
	        }); 
	});
	
	function rep(conntent){
		 conntent= conntent.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&amp;/g, "&").replace(/&quot;/g, '"').replace(/&apos;/g, "'");
		  conntent = conntent.replace(new RegExp("&lt;","g"),"<").replace(new RegExp("&gt;","g"), ">").replace(new RegExp("\"","g"), "'").replace(new RegExp("&#34;","g"),"'");
		  return conntent;
	}
   function uploadImg(){
	   var FormServlet= "/product/upload?id="+"<%=result.id%>";
	   var fileInfo =$('#img').prop('files')[0];
	   var fd = new FormData();
	   fd.append("imgUrl", fileInfo);
	   $.ajax({    
           type:'post',        
           url:FormServlet,    
           data:fd,
           cache:false,    
           processData: false,
   		   contentType: false,
   		   dataType:'json',
           success:function(data){
              $("#productImg").attr("src",data.img+'?random='+Math.random());
           }    
       });    
              
   }
   function getSecondProductList(){
	   var fCode=$("#firstCode").val();
	   $.ajax({    
           type:'get',        
           url:'/product/getSecondProductList/'+fCode,    
           cache:false,    
           dataType:'json',    
           success:function(data){
               if(data){
            	   var html="";
            	   $.each(data, function(i, obj) {
            		   if(i==0){
            			   html=html+"<option value=''"+obj.productCode+"' selected>"+obj.productNameCh+"</option>";
            		   }else{
            			   html=html+"<option value=''"+obj.productCode+"' >"+obj.productNameCh+"</option>";
            		   }
            		});
            	   $("#secondCode").html(html);
               }
           }    
       });    
   }
   function saveProduct(){
	   var id=$("#id").val();
	   var nameEn=$("#nameEn").val();
	   var nameCh=$("#nameCh").val();
	   var introduction=$("#introduction").val();
	   var code=$("#code").val();
	   var imgUrl=$("#imgUrl").val();
	   var firstCode=$("#firstCode").val();
	   var secondCode=$("#secondCode").val();
	   var description=ue.getContent();;
	   var descriptionEn=ueEn.getContent();
	   var data={id:id,nameEn:nameEn,nameCh:nameCh,introduction:introduction,code:code,imgUrl:imgUrl,firstCode:firstCode,secondCode:secondCode,description:description,descriptionEn:descriptionEn};
	   
	   $.ajax({
		   url:   "/product/saveProduct",
		   type: "post",
		   data: data,
		   dataType:'json',
		   error: function(XMLHttpRequest, textStatus, errorThrown){
		      var s3=errorThrown;
		      alert("error message : "+errorThrown.toString());
		      },
		   success: function(data){
		      var url="/product/secondList?code="+data.firstCode+'&sCode='+secondCode;
		      location.href =url;
		   }
		  }); 
   }
</script>
</body>
        <%include ../footer.ejs%>