    <%include ../header.ejs%>
    <body>
       <%include ../left.ejs%>
      <section id="main" class="column">
    <article class="module width_full">
			<div class="module_content">
				<fieldset class="product-detail">
					<label for="txtName">二级产品名称</label>
					<input type="hidden" id="id" name="id" value="<%=result.id%>"/>
					<div class="group-item">中文:<input type="text" id="nameCh" name="nameCh" value="<%=result.productNameCh%>"/></div>
					<div class="group-item">英文:<input type="text" id="nameEn" name="nameEn" value="<%=result.productNameEn%>"/></div>
				</fieldset>
				<fieldset class="product-detail">
					<label for="txtModule">产品编码</label>
					<div class="group-item"><input type="text" id="code" name="code" value="<%=result.productCode%>"/></div>
				</fieldset>
				
				<fieldset>
					<label for="txtButton">一级产品名称</label>
						<select name="firstCode" id="firstCode">
					<% firstList.forEach(function(flist){
					   if(flist.productCode==result.fCode){%>
					   <option value="<%=flist.productCode%>" selected="selected"><%=flist.productNameCh%></option>
					   <%}else{%>
					  <option value="<%=flist.productCode%>"><%=flist.productNameCh%></option>
					<%}})%>   
			        </select>
				</fieldset>
				
				<div class="tc mt20">
					<a onclick="saveProduct()" class="button green" id="btnAdd">保存</a>
				</div>
			</div>
			
		</article><!-- end of post new article -->
		</section>
		
		<script type="text/javascript">
   function saveProduct(){
	   var id=$("#id").val();
	   var nameEn=$("#nameEn").val();
	   var nameCh=$("#nameCh").val();
	   var code=$("#code").val();
	   var firstCode=$("#firstCode").val();
	   var data={productNameEn:nameEn,productNameCh:nameCh,productCode:code,firstCode:firstCode，id:id};
	   
	   $.ajax({
		   url:   "/product/saveProduct",
		   type: "post",
		   data: data,
		   dataType:'json',
		   error: function(XMLHttpRequest, textStatus, errorThrown){
		      var s3=errorThrown;
		      alert("error message : "+errorThrown.toString());
		      },
		   success: function(data){
		      var url="/product/second/list?code="+firstCode;
		      location.href =url;
		   }
		  }); 
   }
</script>
</body>
        <%include ../footer.ejs%>